.button,.button_marketing {
	display: inline-block;
	text-decoration: none;
	border: 0;
	padding: 0;
	background: url('../images/sprite_buttons.gif') no-repeat 0 0;
	cursor: pointer
}

button.button,button.button_marketing {
	overflow: visible
}

.button .value,.button_marketing .value {
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
	border: 0;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	background: 0;
	background-image: url('../images/sprite_buttons.gif');
	background-repeat: no-repeat
}

.ie6 .button .value,ie6 .button_marketing .value {
	float: left
}

button.button .value,button.button_marketing .value {
	margin-left: -2px;
	margin-right: -2px;
	white-space: nowrap
}

@media screen and /*!*/ (-webkit-min-device-pixel-ratio:0) {
	button.button .value,button.button_marketing .value {
		margin-right: 0
	}
}

.ie button.button .value,.ie button.button_marketing .value {
	margin-left: 0;
	margin-right: 0
}

button::-moz-focus-inner {
	border: 0
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	button.button span,button.button_marketing span {
		margin-top: -1px
	}
}

.type_a {
	background-position: -10px -10px;
	height: 15px
}

@media screen and /*!*/ (-webkit-min-device-pixel-ratio:0) {
	span.type_a {
		height: 16px
	}
}

.type_a .value,.type_a .btn_value {
	background-position: right -30px;
	padding: 0 15px;
	color: #fff;
	height: 15px;
	line-height: 15px
}

@media screen and /*!*/ (-webkit-min-device-pixel-ratio:0) {
	.type_a .value {
		line-height: 14px
	}
}

button.type_a .value,button_marketing.type_a .value,button.type_a .btn_value
	{
	font-size: .8333em
}

.btn_value {
	font-weight: bold;
	text-transform: uppercase
}

#wish_list_send_to_friend button.type_a .value,#account_edit_address button.type_a .value
	{
	line-height: 13px;
	font-size: .9em
}

.type_c {
	background-position: -10px -140px;
	height: 21px
}

.type_c .value {
	background-position: right -165px;
	height: 21px;
	line-height: 21px;
	padding: 0 15px;
	color: #fff
}

@media screen and /*!*/ (-webkit-min-device-pixel-ratio:0) {
	.type_c .value {
		line-height: 18px
	}
}

.type_d {
	background-position: -10px -190px
}

.type_d .value {
	background-position: right -220px;
	height: 26px;
	line-height: 26px;
	padding: 0 15px;
	color: #fff
}

.type_d .cufon {
	margin-top: 2px
}

.type_o {
	background: 0
}

.type_o .value {
	background: 0;
	color: #767676
}

.error .button {
	width: 185px
}

.ie6 .error .button {
	width: 155px
}

.error .button .value {
	width: 155px
}

.error_DE .button .value {
	width: 159px
}

.ie6 .error_DE .button,.ie7 .error_DE .button {
	width: 192px
}

.ie6 .error_DE .button .value,.ie7 .error_DE .button .value {
	width: 166px
}