body {
	background-image: url('../images/bg.gif');
    background-repeat: repeat;
    min-height: 100%;
    font-size: 12px;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0
}

h1,h2,h3,h4,h5,h6,input,textarea,select {
	font-size: 1.0;
	font-weight: normal
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

li {
	list-style: none
}

em,strong,th {
	font-style: normal;
	font-weight: normal
}

caption,th {
	text-align: left
}

.container {
	float: left;
	display: inline;
	width: 1190px;
	padding: 0 0px
}

.rightbar {
    float: left;
    display: inline;
    width: 265px;
	height: auto;
	margin-top: 15px;
    padding: 0 0px;
	overflow: hidder;
}

.rightbar_block {
	background: non repeat scroll 0 0 #FFFFFF;
	clear: both;
	display: block;
	position: relative;
	border: 1px solid #E2E2E2;
	margin-bottom: 10px;
	min-height: 450px;
}

.rightbar_block_title {
	background: repeat-x scroll center bottom #5F5F5F;
	color: #FFFFFF;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	display: block;
	font-size: 16px;
	margin-bottom: 15px;
	outline: medium none;
}

.rightbar_block_content {
	border:thin;
    display: block;
    font-size: 16px;
	height:150px;
	width: 100%;
}

.right_block_cat h3 {
	line-height: 35px;
	font-weight: normal;
}

.rightbar_block_nav {
}

.designcontainer {
    display: inline;
    padding: 0 20px
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0
}

.clearfix {
	display: inline-block
}

* html .clearfix {
	height: 1%
}

.clearfix {
	display: block
}

.gridWiew {
	background-color: #FFF;
    border-collapse: collapse;
    font-family: Arial;
}

.gridWiewHeader, .gridWiewHeader th {
    background-color: #5F5F5F;
    color: #FFF;
    font-size: 13px;
    padding-bottom: 4px;
    padding-top: 5px;
    padding-right: 5px;
    text-align: center;
    border: 1px solid #CCE8A5;
    font-family: Arial;
	font-weight:bold;
}

.grid_jobtitle {
    width: 480px;
	font-weight:bold;
}

.grid_jobdate {
    width: 120px;
}

.gridWiew td {
    font-size: 13px;
    font-family: Arial;
    padding: 3px 3px 2px 10px;
    border: 1px solid #D9E1A6;
}

.alt {
    background-color: #F8F8F8;
    font-family: Arial;
    color: #000;
}