#newMain .newsTitle {	
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 26px;
}

#newMain .newsSum {	
	margin-left:10px;	
	text-align:justify;
	text-justify:inter-word;
	font-size: 16px;
	line-height: 26px;
}

#newMain .newsDate {	
	margin-left:10px;	
	text-align:justify;
	text-justify:inter-word;
	font-size: 12px;
	line-height: 26px;
}

#newMain .nw2,#main .twitter {
	width: 458px
}

#newMain . nw2>img {
	width: 458px
}

#newMain .nw2 .wrapper {
	width: 398px
}

#newMain .nw1 {
	
	width: 300px
}

#newMain .nw1>img {
	width: 300px
}

#newMain .nh2 {	
	height:180px;
}

#newMain .nh3 {	
	height:140px;
}

#newMain .nh2>img {	
	height:180px;
}

#newMain .nh1 {	
	height:20px;
}

#newMain strong {
	font-family: 'DINHabitatBold', sans-serif
}

#newMain {
	width: 800px;
	margin: 10px 0 0px;
	overflow: hidden
}

#newMain > div {
	
	position: relative;
	float: left;
	width: 227px;
	height: 230px;
	margin: 0 4px 4px 0
}

#newMain {
	font: 15px/16px 'DINHabitatBold', sans-serif;
	color: #000;
	border-bottom: 1px solid #000000;
}
