/*!
 * Custom css
 */
body { font-family: Arial, Helvetica, sans-serif; color:#fff; font-size: 12px; outline: none; -webkit-backface-visibility: hidden; /*for a smooth font */
	-webkit-font-smoothing:subpixel-antialiased
	backface-visibility: hidden; /*for a smooth font */
	font-smoothing:subpixel-antialiased; background: url(../images/bg-body.jpg) 0 0 repeat }
.container{
	width:1170px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 15px;
	margin-top: 0;
	line-height: 1.4;	
}
h2,
h3 {
	text-transform: uppercase;
	font-weight: 700;	
}

h1 {
	font-size: 5em;
	font-weight:normal;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	line-height: 1.1;	
}


h2, h3 {
	font-size: 1.66em;
	font-weight:normal;
}
h4 { font-size: 1.5em; }
h5 { font-size: 1.33em; }
h6 { font-size: 1.16em; }

a { color:#fff; }

a:hover, a:focus { text-decoration: none; color:#c90506; }

.wrapper {
  clear: both;
  display: block;
  position: relative;
}

p { line-height: 1.6; margin-bottom: 15px; }

/* header */
#header { height: 102px; background: none repeat scroll 0 0 rgba(0, 0, 0, 0.29);box-shadow: -1px 1px 3px 0px rgb(17, 17, 17);}
.logo { padding: 10px 0 0 0; }
.logo a { display: block; overflow: hidden; background: url(../images/logo.png) 0 0 no-repeat; height: 79px; width: 200px; text-indent: -999em; color:#fff; }
.head-info { padding: 10px 0 0 0 }
.socials { background: #fff; float: right; padding: 5px 4px; height: 30px; }
.socials img { margin: 0 2px; }
.form-search { background: #fff; height: 30px; padding: 3px 3px 3px 5px; float: right; margin: 0 10px 0 0; width: 300px; } 
.form-search input { width: 260px; float:left; border: none; padding: 2px 0 0 3px; margin-top: 3px; }
.form-search .btn-search { width: 24px; height: 24px; border: none; padding: 0; float: right; margin: 0; }

/* navigation */
.navigation { clear: both; padding: 30px 0 0 0 }
.navigation ul { float: right; list-style: none; padding: 0; margin: 0; }
.navigation li { display: block; float: left; margin: 0 0 0 10px; position: relative; }
.navigation li a { text-transform: uppercase; font-weight: bold; font-size: 13px; display: block; float:left; padding: 5px; }
.navigation li a:hover, .navigation .current a { color:#c90506; }
.navigation li ul{ position:absolute; left: 0; top: 28px; width: 180px; display: none; background: #1e1e1e; border-bottom: 3px solid #c90506; padding: 10px; z-index:100; }
.navigation li li { display: block; float:none; border-top: 1px dotted #666; }
.navigation li.submenu:hover ul, .navigation li.submenu:focus ul {
	display: block;
}
.navigation li.submenu:hover > a, .navigation li.submenu:focus > a {
	color:#c90506;
}
.navigation li li:first-child { border-top: none; }
.navigation li li a { float: none;  padding: 7px 0; color:#999; text-transform: none; font-weight: normal; }

/* slideshow */
#slideshow { margin-bottom: 20px; }
#slideshow .slide { border-bottom: 2px solid #c5871a; }
#slideshow .carousel-inner > .item img { display: block; }
.carousel-control.left { width: 25px; height: 46px; overflow: hidden; text-indent: -999em; background: url(../images/bg_slide-b.png) 0 0 no-repeat; left: 20px; top: 110px;}
.carousel-control.right { width: 25px; height: 46px; overflow: hidden; text-indent: -999em; background: url(../images/bg_slide-n.png) 0 0 no-repeat; right: 20px; top: 110px;}
.carousel-indicators { border-bottom: 0; display: none; }

/***********/
.cate a{ display: block; float:left; width: 120px; height: 100px; background: none repeat scroll 0 0 rgba(0, 0, 0, 0.39); color:#fff; text-align: center; text-transform: uppercase; padding: 34px 5px 0 5px; margin: 0 10px 10px 0; box-shadow: -1px 1px 3px 0px rgb(17, 17, 17);}
.cate a:hover { color:#c90506; }

.product-gallery { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.39); height: 320px; padding: 23px 83px 0 83px;box-shadow: -1px 1px 3px 0px rgb(17, 17, 17); }
.product-gallery .carousel-inner .item a { display: block; float:left; margin: 0 13px 15px; width:201px; overflow:hidden; text-align:center; }
.product-gallery .carousel-inner .item img {
	border:3px solid #333;
	height:110px !important;
}
.product-gallery .carousel-inner .item span{
	display:block;
	color:#fff;
	padding:5px 0 0 0;
	height:22px;
	overflow:hidden;
}
.product-gallery .carousel-inner .item a:hover img, .product-gallery .carousel-inner .item a:focus img { border:3px solid #fff;  }
.product-gallery .carousel-control.left { left: -53px; top: 110px; }
.product-gallery .carousel-control.right { right: -53px; top: 110px; }


/* footer */
#footer { margin-top: 10px; }
#footer .container-inner { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.39); border-top: 2px solid #c5871a; padding: 15px; box-shadow: -1px 1px 3px 0px rgb(17, 17, 17);}
#footer h3 { font-size: 14px; }
.footer-info p { margin-bottom: 5px; }
.footer-info span { color:#fe0000 }
.copyright { text-align: right; }

.detaiproduct {
	border-bottom: 2px solid #c5871a;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.39);
	margin-bottom:10px;	
}
.infoproduct{
	color:#FFFFFF;
	margin-left:30px;
	margin-top:10px;
}
.titleproduct{
	display:block;
	font-weight:bold;
	font-size:14px;
	padding-top:10px;
	text-decoration:underline;
}
.contentproduct{
	display:block;
	padding-top:2px;
}
.imageproduct{
	width:100%;
	margin-top:20px;
	margin-bottom:10px;
}
.view-image-product{
	box-shadow: -1px 1px 3px 1px rgb(0, 0, 0);
	margin-bottom: 20px;
    padding: 10px 15px 5px;
	vertical-align: baseline;
	line-height: 20px;
}
.view-image-product img{
	border:3px solid #303030;
}
.view-image-product img:hover{
	border:3px solid #fff;
}
.view-image-product span{
	display:block;
	color:#fff;
	padding:10px 0 30px 0;
	height:22px;
	overflow:hidden;
	font-size: 13px;
}

.shopnoithat{
	background: url(../images/bg-line.gif) 270px 0 repeat-y #fff;
	color:#000000;
	box-shadow: -1px 1px 3px 1px rgb(0, 0, 0);
	margin-top:20px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
.shopnoithat a{
	color:#000000;
}
.menushopnoithat{
	margin-top:5px;
	margin-left:10px;
	font-size:14px;
}
.shadow{
	border-bottom:2px solid #ccc;
	padding-bottom:15px;
}
.listshopnoithat
{
	margin-bottom:20px;
}
.titleshopnoithat{
	margin:20px 0 0 10px;;
}
.shopinfo{
	color:#FF0000;
	text-decoration:underline;
	font-size:14px;
	font-weight:bold;	
}
.shopcontact{
	margin-top:5px;
	margin-bottom:20px;
	
}
.commentface{
	margin-left:20px;
}
.choiceshop a{
	color:#666666;
}
.about{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.39); padding: 15px;
}
.abouttilte{
	text-decoration:underline;
	font-size:14px;
	font-weight:bold;
}
.aboutcontent{
	margin-top:10px;
	height:450px;
}
.aboutpading{
	margin-top:10px;
}
.service { background: #1e1e1e;}
.rowservice{
	width:98%;
	display:block;
	margin-bottom:10px;
	margin-left:10px;
}
.titleservice{
	font-size:14px;
	font-weight:bold;
	
}
.noteservice{
	margin-top:10px;
	margin-bottom:30px;
	border-bottom: 1px solid #c5871a;
}
.nowservice{
	padding-top::20px;
}
.detailservice{
	margin-bottom:30px;
	margin-left:10px;
	width:98%;
}
.title-shop{
	font-size:15px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:20px;
	width:100%;
	height:40px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.39); padding: 15px;
	box-shadow: -1px 1px 3px 1px rgb(0, 0, 0);
}
.title-shop span{
	margin-top:-6px;
	display:block;
}
.info-shop{
	border: 1px solid #EEEEEE;
    float: left;
    margin: 3px 6px 3px 0;
    padding: 2px;
    position: relative;
    text-align: center;
	width:100%;
	box-shadow: -1px 1px 3px 1px rgb(0, 0, 0);
}
.info-shop img{
	margin-top:5px;
	margin-left:2px;
}
.info-shop a{
	display:block;
	margin:5px 0 5px 0;
	font-size:14px;
	font-weight:bold;
}
.info-shop span{
	display:block;
}
.cate-parent{
	margin-top:10px;
}
.cate-parent span{
	border-bottom:1px solid #4C4C4C;
	font-size:14px;
	font-weight:bold;
}
.view-cate{
	margin-top:10px;
	margin-bottom:10px;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #4C4C4C;
}
.show-detail-info{
	margin:10px 0 30px 0;
}
.show-detail-info span{
	display:block;
	font-size:14px;
}